{% extends 'base.html.twig' %}

{% form_theme formTicket 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ parent() }}Information nouveau ticket{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center text-primary p-4">Billetterie </h1>

        <div class="row p-4">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div class="text-primary">
                    {{ form_start(formTicket) }}

                    {{ form_row(formTicket.name, { 'attr': {'placeholder': "Nom du visiteur"}, 'label': "Nom"}) }}
                    {{ form_row(formTicket.firstName, { 'attr': {'placeholder': "Prénom du visiteur"}, 'label': "Prénom"}) }}
                    {{ form_row(formTicket.birthDate, { 'attr': {'class': "birthday"}, 'label_attr': {'class': "text-primary"}}) }}

                    {{ form_row(formTicket.country, { 'attr': {'placeholder': "Pays"}, 'value': "France"}) }}
                    {{ form_row(formTicket.visitAt, { 'attr': {'class': "visit"}}) }}

                    {{ form_row(formTicket.priceType, {"label": "Possédez-vous une carte de réduction?"}) }}

                    <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>

                    {{ form_end(formTicket) }}
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $(".visit").flatpickr({
            locale: "fr",
            enableTime: true,
            minTime: "09:00",
            minDate: "today",
            dateFormat: "d-m-Y H:i",
            disable: [
                function(date) {
                    // return true to disable
                    console.log(date.getDate());
                    return (
                        date.getDay() === 2 ||
                        date.getMonth() === 5 && date.getDate() === 1 ||
                        date.getMonth() === 11 && date.getDate() === 1 ||
                        date.getMonth() === 12 && date.getDate() === 25
                    );
                },
            ],
        });
        $(".birthday").flatpickr({
            maxDate: "today",
            dateFormat: "d-m-Y"
        });
    </script>
{% endblock %}